.clients--spec {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding: 94px 0px 94px 0px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  
}

.client__item {
  margin: 15px;
  flex-basis: calc(100% / 2 - 30px);

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 30px);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.client__icon {
  @include centeredFlex;
  height: 92px;

  fill: var(--clients-icon-color);
  border: 1px solid var(--clients-icon-color);
  border-radius: 4px;
  outline: none;

  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}
