:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-white: #ffffff;
  --accent-color: #2196f3;
  --footer-bg-color: #2f303a;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --secondary-bg-color: #f5f4fa;
  --header-border-color: #ececec;
  --primary-border-color: #eeeeee;
  --hover-btn-color: #188ce8;
  --social-icon-color: #afb1b8;
  --clients-icon-color: #afb1b8;
  --form-border-color: rgba(33, 33, 33, 0.2);
  --plcehldr-text-color: rgba(117, 117, 117, 0.5);
}

$primary-font: Roboto, sans-serif;
$logo-font: Raleway, sans-serif;
